@font-face {
	font-family: "Ionicons";
	src: url('iconfont.eot?t=1489636760160');
	src:
		url('iconfont.eot?t=1489636760160#iefix') format('embedded-opentype'),
		url('iconfont.woff?t=1489636760160') format('woff'),
		url('iconfont.ttf?t=1489636760160') format('truetype'),
		url('iconfont.svg?t=1489636760160#Eicon') format('svg');
}

.icon {
	font-family: "Ionicons" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ion-ios-zijin::before { content: "\e794"; }

.ion-ios-gongchengguanli::before { content: "\e674"; }

.ion-ios-hetong::before { content: "\e69b"; }

.ion-ios-zhaobiao::before { content: "\e620"; }
