// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*隐藏高德地图logo与版权信息*/
.amap-logo, .amap-copyright {
    display: none!important;
}

.loading-ios {
	z-index: 99999 !important;
}

.menu_content {
	color: color($colors, primary);

	.userInfo {
		width: 100%;
		text-align: center;
		margin-top: 20px;

		ion-icon {
			font-size: 80px;
		}
	}

	.pageTab {
		margin-top: 50px;

		ion-row {
			ion-col {
				text-align: center;
				border: 1px solid #E5E5E5;
				font-size: 16px;
				padding: 10px !important;

				div:first-child {
					font-size: 2em;
				}

				&:first-child {
					border-left: 0;
				}

				&:last-child {
					border-left: 0;
					border-right: 0;
				}
			}
		}
	}

	.logoutBtn {
		margin-top: 50px;
	}
}
