$playBtnSize: 40px;

essence-ion-videoplayer {

	.videoViewerContainer {
		position: relative;
		margin: 0;
		padding: 0;
		height: 100%;
		background-color: #3E3E3E;

		.videoViewer {
			position: relative;

			div {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background: rgba(62, 62, 62, 0.5);

				span {
					font-size: $playBtnSize;
					position: absolute;
					left: 50%;
					top: 50%;
					margin-left: -$playBtnSize/2;
					margin-top: -$playBtnSize/2-10;
					color: #E2E2E2;
					transition: color 0.8s;

					&.time {
						margin-left: -52px;
						margin-top: 10px;
						font-size: 10px;
					}

					&.reload_info {
						margin-left: -42px;
						margin-top: 10px;
						font-size: 12px;
					}
				}
			}
		}

		.videoToolbar {
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;
			font-size: 25px;
			color: #BFB9B9;

			.videoToolbar_progress {
				position: relative;
				width: 100%;
				height: 4px;
				background: rgba(112, 109, 109, 0.6);
				transition: height 0.5s;
				cursor: pointer;

				div {
					position: absolute;
					width: 0;
					height: 100%;

					&.videoToolbar_play_progress {
						z-index: 2;
						background: #45bdde;
					}
				}
			}
		}
	}
}
